In [4]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from pathlib import Path

c:\Users\m8rqu\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
census = pd.read_csv("C:/Users/m8rqu/Documents/Data BootCamp/Opoid/Resources/va_2015.csv", encoding='utf-8')
census.head()

,Label (Grouping),AGE BY EDUCATIONAL ATTAINMENT,Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",...,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher.4,MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS),Population 25 years and over with earnings,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree
0,United States!!Total!!Estimate,NaN,"31,341,948","4,231,896","9,539,682","14,353,301","3,217,069","216,447,163","11,988,039","15,838,087",...,(X),(X),(X),NaN,"36,860","21,320","29,004","34,377","50,930","67,286"
1,United States!!Total!!Margin of Error,NaN,"±42,092","±39,061","±42,954","±58,984","±32,743","±69,294","±69,070","±73,009",...,(X),(X),(X),NaN,±44,±62,±110,±178,±73,±141
2,United States!!Percent!!Estimate,NaN,(X),13.50%,30.40%,45.80%,10.30%,(X),5.50%,7.30%,...,14.10%,10.20%,4.50%,NaN,(X),(X),(X),(X),(X),(X)
3,United States!!Percent!!Margin of Error,NaN,(X),±0.1,±0.1,±0.2,±0.1,(X),±0.1,±0.1,...,±0.1,±0.1,±0.1,NaN,(X),(X),(X),(X),(X),(X)
4,United States!!Males!!Estimate,NaN,"16,065,032","2,478,913","5,371,473","6,873,962","1,340,684","104,477,394","5,942,569","8,238,447",...,(X),(X),(X),NaN,"42,378","25,159","34,472","41,582","61,780","85,202"

In [3]:
# Replace removing (X)
census.columns = census.columns.str.strip()
census = census.replace('(X)', '')
census = census.dropna(axis =1, how='all')
count_of_empty = (census == '').all().sum()
print(count_of_empty)

0

In [4]:
#Getting rid of rows that have margin, error percent
census = census[~census['Label (Grouping)'].str.contains('Margin|Error|Percent')]
census

,Label (Grouping),Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency).1,...,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher.4,Population 25 years and over with earnings,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree
0,United States!!Total!!Estimate,"31,341,948","4,231,896","9,539,682","14,353,301","3,217,069","216,447,163","11,988,039","15,838,087","59,662,981",...,,,,,"36,860","21,320","29,004","34,377","50,930","67,286"
4,United States!!Males!!Estimate,"16,065,032","2,478,913","5,371,473","6,873,962","1,340,684","104,477,394","5,942,569","8,238,447","29,620,517",...,,,,,"42,378","25,159","34,472","41,582","61,780","85,202"
8,United States!!Females!!Estimate,"15,276,916","1,752,983","4,168,209","7,479,339","1,876,385","111,969,769","6,045,470","7,599,640","30,042,464",...,,,,,"31,072","16,151","22,461","28,643","41,952","56,726"
12,"Baldwin County, Alabama!!Total!!Estimate","15,081","2,460","5,744","5,481","1,396","143,738","3,095","10,124","45,574",...,,,,,"30,646","16,337","22,878","26,603","48,156","51,303"
16,"Baldwin County, Alabama!!Males!!Estimate","7,549","1,802","3,121","2,005",621,"68,949","1,559","5,754","22,852",...,,,,,"40,746","18,789","27,121","46,833","61,813","95,966"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9952,"Toa Baja Municipio, Puerto Rico!!Males!!Estimate","3,997",87,"1,303","2,065",542,"25,417","3,998","1,474","7,804",...,,,,,"19,659","17,586","16,656","21,325","29,992","35,625"
9956,"Toa Baja Municipio, Puerto Rico!!Females!!Esti...","3,986",252,"1,310","2,119",305,"30,881","3,323","1,857","7,775",...,,,,,"20,848","17,863","9,634","20,957","21,865","35,082"
9960,"Trujillo Alto Municipio, Puerto Rico!!Total!!E...","6,799",153,"1,134","5,289",223,"47,695","4,750","2,910","11,376",...,,,,,"21,004","8,606","16,129","19,166","26,061","35,124"
9964,"Trujillo Alto Municipio, Puerto Rico!!Males!!E...","3,462",153,730,"2,579",0,"21,433","2,151","1,891","5,676",...,,,,,"18,706","8,348","16,638","17,259","29,432","34,271"
9968,"Trujillo Alto Municipio, Puerto Rico!!Females!...","3,337",0,404,"2,710",223,"26,262","2,599","1,019","5,700",...,,,,,"23,277","10,085","12,613","22,453","24,704","35,372"

In [5]:
# Getting rows that only contain virgiina

virginia = census[census['Label (Grouping)'].str.contains('Virginia')]
virginia = virginia[~virginia['Label (Grouping)'].str.contains('West Virginia')]
virginia

,Label (Grouping),Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency).1,...,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher.4,Population 25 years and over with earnings,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree
8868,"Albemarle County, Virginia!!Total!!Estimate","12,846",636,"4,205","6,383","1,622","71,011","2,009","2,720","11,062",...,,,,,"44,165","24,392","33,661","32,250","52,635","71,536"
8872,"Albemarle County, Virginia!!Males!!Estimate","6,408",500,"2,189","2,750",969,"32,757","1,010","1,290","5,655",...,,,,,"57,060","31,305","39,900","35,513","80,230","85,988"
8876,"Albemarle County, Virginia!!Females!!Estimate","6,438",136,"2,016","3,633",653,"38,254",999,"1,430","5,407",...,,,,,"37,631","20,941","26,118","30,700","40,502","51,456"
8880,"Arlington County, Virginia!!Total!!Estimate","17,574","1,020","2,551","3,419","10,584","171,583","8,163","4,582","11,295",...,,,,,"71,206","32,475","26,689","45,910","75,025","90,904"
8884,"Arlington County, Virginia!!Males!!Estimate","8,563",621,"1,663","1,672","4,607","85,682","4,011","2,647","4,935",...,,,,,"77,066","36,294","26,477","48,321","80,249","102,458"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9208,"Suffolk city, Virginia!!Males!!Estimate","4,459",340,"2,281","1,532",306,"27,343","1,323","2,181","8,305",...,,,,,"50,430","14,872","40,284","42,136","76,540","101,979"
9212,"Suffolk city, Virginia!!Females!!Estimate","3,668",338,"1,172","1,999",159,"31,037","1,152","2,827","8,133",...,,,,,"30,786","17,165","25,141","31,564","36,681","50,818"
9216,"Virginia Beach city, Virginia!!Total!!Estimate","45,570","2,821","14,521","24,769","3,459","305,033","7,340","13,887","68,972",...,,,,,"40,386","25,707","32,059","35,522","51,401","65,704"
9220,"Virginia Beach city, Virginia!!Males!!Estimate","23,894","1,661","9,312","11,558","1,363","146,502","2,698","6,315","37,006",...,,,,,"47,128","31,622","40,100","43,803","63,132","81,508"
9224,"Virginia Beach city, Virginia!!Females!!Estimate","21,676","1,160","5,209","13,211","2,096","158,531","4,642","7,572","31,966",...,,,,,"31,884","20,045","24,638","30,360","42,636","51,545"

In [6]:
#Removing the Nas
virginia_drop = virginia.dropna(axis = 'columns')

# Replace 'N' with zero
virginia_drop_n = virginia_drop.replace('N', 0)

count_of_N = (virginia_drop_n == 'N').sum().sum()
print(count_of_N)

0

In [7]:
# Define the file path where you want to save the CSV file
file_path = 'C:/Users/m8rqu/Documents/Data BootCamp/Opoid/Resources/virginia_2015.csv'

# Export the DataFrame to a CSV file with UTF-8 encoding
virginia_drop_n.to_csv(file_path, index=True, encoding='utf-8')

In [5]:
# I can't believe that actually worked, kind of inefficent but whatever

va_data = pd.read_csv('C:/Users/m8rqu/Documents/Data BootCamp/Opoid/Resources/virginia_2015.csv')
va_data.dropna(axis =1 , inplace =True)
va_data

,Unnamed: 0,Label (Grouping),Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",...,Two or more races Bachelor's degree or higher,Hispanic or Latino Origin,Hispanic or Latino Origin High school graduate or higher,Hispanic or Latino Origin Bachelor's degree or higher,Population 25 years and over with earnings,Less than high school graduate.2,High school graduate (includes equivalency).3,Some college or associate's degree.2,Bachelor's degree.1,Graduate or professional degree.1
0,8868,"Albemarle County, Virginia!!Total!!Estimate","12,846",636,"4,205","6,383","1,622","71,011","2,009","2,720",...,0,0,0,0,"44,165","24,392","33,661","32,250","52,635","71,536"
1,8872,"Albemarle County, Virginia!!Males!!Estimate","6,408",500,"2,189","2,750",969,"32,757","1,010","1,290",...,0,0,0,0,"57,060","31,305","39,900","35,513","80,230","85,988"
2,8876,"Albemarle County, Virginia!!Females!!Estimate","6,438",136,"2,016","3,633",653,"38,254",999,"1,430",...,0,0,0,0,"37,631","20,941","26,118","30,700","40,502","51,456"
3,8880,"Arlington County, Virginia!!Total!!Estimate","17,574","1,020","2,551","3,419","10,584","171,583","8,163","4,582",...,0,"23,782","17,380","9,671","71,206","32,475","26,689","45,910","75,025","90,904"
4,8884,"Arlington County, Virginia!!Males!!Estimate","8,563",621,"1,663","1,672","4,607","85,682","4,011","2,647",...,0,"12,233","9,063","5,238","77,066","36,294","26,477","48,321","80,249","102,458"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,9208,"Suffolk city, Virginia!!Males!!Estimate","4,459",340,"2,281","1,532",306,"27,343","1,323","2,181",...,0,"1,171","1,126",394,"50,430","14,872","40,284","42,136","76,540","101,979"
86,9212,"Suffolk city, Virginia!!Females!!Estimate","3,668",338,"1,172","1,999",159,"31,037","1,152","2,827",...,0,"1,067",890,228,"30,786","17,165","25,141","31,564","36,681","50,818"
87,9216,"Virginia Beach city, Virginia!!Total!!Estimate","45,570","2,821","14,521","24,769","3,459","305,033","7,340","13,887",...,"3,325","19,935","17,310","4,403","40,386","25,707","32,059","35,522","51,401","65,704"
88,9220,"Virginia Beach city, Virginia!!Males!!Estimate","23,894","1,661","9,312","11,558","1,363","146,502","2,698","6,315",...,"1,769","9,900","9,041","2,282","47,128","31,622","40,100","43,803","63,132","81,508"
89,9224,"Virginia Beach city, Virginia!!Females!!Estimate","21,676","1,160","5,209","13,211","2,096","158,531","4,642","7,572",...,"1,556","10,035","8,269","2,121","31,884","20,045","24,638","30,360","42,636","51,545"

In [6]:
del va_data['Unnamed: 0']

va_data = va_data.loc[:, va_data.any()]
va_data

,Label (Grouping),Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency).1,...,Two or more races Bachelor's degree or higher,Hispanic or Latino Origin,Hispanic or Latino Origin High school graduate or higher,Hispanic or Latino Origin Bachelor's degree or higher,Population 25 years and over with earnings,Less than high school graduate.2,High school graduate (includes equivalency).3,Some college or associate's degree.2,Bachelor's degree.1,Graduate or professional degree.1
0,"Albemarle County, Virginia!!Total!!Estimate","12,846",636,"4,205","6,383","1,622","71,011","2,009","2,720","11,062",...,0,0,0,0,"44,165","24,392","33,661","32,250","52,635","71,536"
1,"Albemarle County, Virginia!!Males!!Estimate","6,408",500,"2,189","2,750",969,"32,757","1,010","1,290","5,655",...,0,0,0,0,"57,060","31,305","39,900","35,513","80,230","85,988"
2,"Albemarle County, Virginia!!Females!!Estimate","6,438",136,"2,016","3,633",653,"38,254",999,"1,430","5,407",...,0,0,0,0,"37,631","20,941","26,118","30,700","40,502","51,456"
3,"Arlington County, Virginia!!Total!!Estimate","17,574","1,020","2,551","3,419","10,584","171,583","8,163","4,582","11,295",...,0,"23,782","17,380","9,671","71,206","32,475","26,689","45,910","75,025","90,904"
4,"Arlington County, Virginia!!Males!!Estimate","8,563",621,"1,663","1,672","4,607","85,682","4,011","2,647","4,935",...,0,"12,233","9,063","5,238","77,066","36,294","26,477","48,321","80,249","102,458"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,"Suffolk city, Virginia!!Males!!Estimate","4,459",340,"2,281","1,532",306,"27,343","1,323","2,181","8,305",...,0,"1,171","1,126",394,"50,430","14,872","40,284","42,136","76,540","101,979"
86,"Suffolk city, Virginia!!Females!!Estimate","3,668",338,"1,172","1,999",159,"31,037","1,152","2,827","8,133",...,0,"1,067",890,228,"30,786","17,165","25,141","31,564","36,681","50,818"
87,"Virginia Beach city, Virginia!!Total!!Estimate","45,570","2,821","14,521","24,769","3,459","305,033","7,340","13,887","68,972",...,"3,325","19,935","17,310","4,403","40,386","25,707","32,059","35,522","51,401","65,704"
88,"Virginia Beach city, Virginia!!Males!!Estimate","23,894","1,661","9,312","11,558","1,363","146,502","2,698","6,315","37,006",...,"1,769","9,900","9,041","2,282","47,128","31,622","40,100","43,803","63,132","81,508"
89,"Virginia Beach city, Virginia!!Females!!Estimate","21,676","1,160","5,209","13,211","2,096","158,531","4,642","7,572","31,966",...,"1,556","10,035","8,269","2,121","31,884","20,045","24,638","30,360","42,636","51,545"

In [7]:
#Separating Datasets by Gender and Total

male_va = va_data['Label (Grouping)'].str.contains('!!Males!!Estimate')
female_va = va_data['Label (Grouping)'].str.contains("!!Females!!Estimate")
total_va = va_data['Label (Grouping)'].str.contains("!!Total!!Estimate")

In [8]:
# Filter the original dataframe into separate dataframes for male and female estimates

male_df = va_data[male_va]
female_df = va_data[female_va]
total_df = va_data[total_va]

In [9]:
# Split the 'data' column into separate columns for each dataframe
male_df[['state', 'gender', 'estimate']] = male_df['Label (Grouping)'].str.split('!!', expand=True)
female_df[['state', 'gender', 'estimate']] = female_df['Label (Grouping)'].str.split('!!', expand=True)
total_df[['state', 'gender', 'estimate']] = total_df['Label (Grouping)'].str.split('!!', expand=True)

C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_df[['state', 'gender', 'estimate']] = male_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_df[['state', 'gender', 'estimate']] = male_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_df[['state', 'gender', 'estimate']] = male_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df[['state', 'gender', 'estimate']] = female_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df[['state', 'gender', 'estimate']] = female_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df[['state', 'gender', 'estimate']] = female_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df[['state', 'gender', 'estimate']] = total_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df[['state', 'gender', 'estimate']] = total_df['Label (Grouping)'].str.split('!!', expand=True)
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\886681504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df[['state', 'gender', 'estimate']] = total_df['Label (Grouping)'].str.split('!!', expand=True)

In [11]:
total_df.head()

,Label (Grouping),Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency).1,...,Hispanic or Latino Origin Bachelor's degree or higher,Population 25 years and over with earnings,Less than high school graduate.2,High school graduate (includes equivalency).3,Some college or associate's degree.2,Bachelor's degree.1,Graduate or professional degree.1,state,gender,estimate
0,"Albemarle County, Virginia!!Total!!Estimate","12,846",636,"4,205","6,383","1,622","71,011","2,009","2,720","11,062",...,0,"44,165","24,392","33,661","32,250","52,635","71,536","Albemarle County, Virginia",Total,Estimate
3,"Arlington County, Virginia!!Total!!Estimate","17,574","1,020","2,551","3,419","10,584","171,583","8,163","4,582","11,295",...,"9,671","71,206","32,475","26,689","45,910","75,025","90,904","Arlington County, Virginia",Total,Estimate
6,"Augusta County, Virginia!!Total!!Estimate","5,941","1,855","1,864","2,009",213,"53,733","2,232","5,151","20,308",...,0,"31,906","21,884","30,122","31,075","45,585","58,491","Augusta County, Virginia",Total,Estimate
9,"Bedford County, Virginia!!Total!!Estimate","5,792",412,"2,271","2,444",665,"56,001","2,816","5,312","16,480",...,0,"37,146","30,096","26,488","35,902","48,324","61,285","Bedford County, Virginia",Total,Estimate
12,"Chesterfield County, Virginia!!Total!!Estimate","30,982","3,323","9,970","14,273","3,416","223,181","8,027","10,470","54,636",...,"2,242","43,863","27,056","32,057","39,803","56,567","66,861","Chesterfield County, Virginia",Total,Estimate

In [12]:
# Drop the original 'data' column from each dataframe
total_df.drop(['Label (Grouping)','gender','estimate'], axis =1, inplace = True)

C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\3518775656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df.drop(['Label (Grouping)','gender','estimate'], axis =1, inplace = True)

In [13]:
total_df.head()

,Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency).1,"Some college, no degree",...,Hispanic or Latino Origin,Hispanic or Latino Origin High school graduate or higher,Hispanic or Latino Origin Bachelor's degree or higher,Population 25 years and over with earnings,Less than high school graduate.2,High school graduate (includes equivalency).3,Some college or associate's degree.2,Bachelor's degree.1,Graduate or professional degree.1,state
0,"12,846",636,"4,205","6,383","1,622","71,011","2,009","2,720","11,062","13,140",...,0,0,0,"44,165","24,392","33,661","32,250","52,635","71,536","Albemarle County, Virginia"
3,"17,574","1,020","2,551","3,419","10,584","171,583","8,163","4,582","11,295","15,959",...,"23,782","17,380","9,671","71,206","32,475","26,689","45,910","75,025","90,904","Arlington County, Virginia"
6,"5,941","1,855","1,864","2,009",213,"53,733","2,232","5,151","20,308","10,447",...,0,0,0,"31,906","21,884","30,122","31,075","45,585","58,491","Augusta County, Virginia"
9,"5,792",412,"2,271","2,444",665,"56,001","2,816","5,312","16,480","10,926",...,0,0,0,"37,146","30,096","26,488","35,902","48,324","61,285","Bedford County, Virginia"
12,"30,982","3,323","9,970","14,273","3,416","223,181","8,027","10,470","54,636","48,333",...,"14,609","9,801","2,242","43,863","27,056","32,057","39,803","56,567","66,861","Chesterfield County, Virginia"

In [14]:
total_df['County'] = total_df['state'].str.split(', ').str[0]
total_df['Counties'] = total_df['County'].str.split(' ').str[0]
total_df['Counties'] = total_df['Counties'].str.upper()

C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\2042197776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df['County'] = total_df['state'].str.split(', ').str[0]
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\2042197776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df['Counties'] = total_df['County'].str.split(' ').str[0]
C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\2042197776.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df['Counties'] = total_df['Counties'].str.upper()

In [16]:
total_df.drop(['state','County'], axis =1, inplace =True)

C:\Users\m8rqu\AppData\Local\Temp\ipykernel_16980\714305928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df.drop(['state','County'], axis =1, inplace =True)

In [146]:
# Define the file path where you want to save the CSV file
file_path = 'C:/Users/m8rqu/Documents/Data BootCamp/Opoid/Resources/improved_2015.csv'

# Export the DataFrame to a CSV file with UTF-8 encoding
total_df.to_csv(file_path, index=False, encoding='utf-8')